{% extends 'mainsite/foundation.html' %}

{% load static %}

{% block title %}About the {{mem_category}}{% endblock %}

{% block content %}
		  <div class="container">
		  	{% if who == 'ironviking' %}
			<section class="row bg-secondary">
				<div class="col-12 pad-mar-remove">
					<div class="image-cont d-flex justify-content-center">
						<img id="bio-img" class="pt-md-4" src="{% static 'mainsite/assets/ironviking1.jpg' %}" alt="I am the Iron Viking">
					</div>
				</div>
			</section>
			 	{% include 'misc/bio.html' %}
			{% elif who == 'ambassadors' %}
				{% include 'ambassadors/ambassadors.html' %}
			{% endif %}
		  </div>
{% endblock %}
